<footer class="footer">
  <div class="footer__container">
    <section>
        <h2 class="footer__title">Sobre</h2>
        <p class="footer__about-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis commodi dolore impedit. Alias omnis odit excepturi obcaecati veniam, nesciunt nostrum dolores iusto rerum necessitatibus nisi numquam voluptatum, est mollitia id?
        </p>
    </section>
    <address>
        <h2 class="footer__title">Contato</h2>
        <ul>
            <li><i class="fa-regular fa-envelope"> contacto@cenasgeek.pt </i></li>
            <li><i class="fa-solid fa-phone"> (+351) 917 943 625 </i></li>
            <li><i class="fa-brands fa-whatsapp"> (+351) 917 943 625 </i></li>
        </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; todos os direitos reservados
  </section>
</footer>